<p class="ti">银行充值限额表<a href="#" class="quit"></a></p>
<div class="cont">
	<table>
		<thead>
			<tr>
				<td>银行名称</td>
				<td>单笔限额</td>
				<td>单日限额</td>
				<td class="last">单月限额</td>
			</tr>
		</thead>
		<tbody>
			{{each data.list as value index}}
			<tr>
				{{if value.bank_name == 0}}
					<td>无限额</td>
				{{else}}
					<td>{{value.bank_name}}</td>
				{{/if}}

				{{if value.record_limit_amount == 0}}
					<td >无限额</td>
				{{else}}
					<td >{{value.record_limit_amount}}</td>
				{{/if}}

				{{if value.day_limit_amount == 0}}
					<td >无限额</td>
				{{else}}
					<td >{{value.day_limit_amount}}</td>
				{{/if}}

				{{if value.month_limit_amount == 0}}
					<td class="last">无限额</td>
				{{else}}
					<td class="last">{{value.month_limit_amount}}</td>
				{{/if}}
				
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>