@charset "utf-8";
/* CSS Document */

/* 基本设置 */
html,body{height: 100%;width:100%;}
body{background: #fff;text-align: center;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure,button{margin:0;padding:0;font-family: '\5FAE\8F6F\96C5\9ED1';color:#919191;font-weight: 200;font-size:18px;border:0;}
h1,h2,h3,h4,h5,h6{font-family: '\5FAE\8F6F\96C5\9ED1';color:#373737;font-weight: normal;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:12px;}
input,textarea,button,select{margin:0;padding:0;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
a{text-decoration:none;outline:none;color:#919191;}
a:hover{text-decoration: underline;}
img{margin:0;padding:0;border:none;}
ul,li{list-style: none;}

.bk-gray{background: #fafafa;width: 100%;padding: 50px 0;}
.wmain{width:1003px;margin:0 auto;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.assure{display: inline-block;height:28px;width:22px;background: url(../img/icon.png) no-repeat 0 -60px;}

h4.col-ti{overflow: hidden;margin-bottom: 25px;}
h4.col-ti span{float:left;}
h4.col-ti .ti-logo{padding:7px;background: #f27835;margin-top:5px;margin-right: 15px;}
h4.col-ti a{color:#f27835;text-decoration: underline;font-size: 14px;}

/* 顶部 */
.header{width:100%;height: 47px;padding:10px 0;}
.header .fl a{display: inline-block;vertical-align: middle;}
.header .fl .slogan{margin-left: 40px;}
.header .fr{height:47px;line-height: 47px;}
.header .fr a{margin:0 16px;}
.header .fr a:hover{color:#f27835;text-decoration: none;}
.header .fr a.login{color:#f27835;padding:0 4px;margin-right:0;border:1px solid;}

/* 登录区 */
.banner{width:100%;height:450px;background: url(../img/banner.jpg) no-repeat center #f04031;}
.login-area{width:275px;height: 220px;float:right;margin-top:65px;background: #fff;padding:45px 15px 35px 15px;position: relative;}
.login-area .textField{width:271px;border-top:2px solid;border-left:2px solid;border-right:2px solid;border-bottom:2px solid #e67334;margin-bottom:20px;padding:0;}
.login-area .textField span{width:19px;height:24px;margin:0 12px;display: inline-block;vertical-align: middle;background: url(../img/icon.png) no-repeat;}
.login-area .textField span.pwd{background-position: 0 -25px;}
.login-area .textField input{width:211px;height:38px;border:none;vertical-align:middle;line-height:38px;padding: 0 8px;margin:0;}
.login-area p.remember{overflow: hidden;line-height: 12px;margin-bottom: 10px;}
.login-area p.remember input{vertical-align:middle;margin-right:8px;border:1px solid #f27835;}
.login-area p.remember .fl{font-size:14px;color:#373737;}
.login-area p.remember .fr{font-size: 14px;color:#b1b1b1;}
.login-area .btn_login{height:45px;line-height:45px;width:100%;margin-bottom:15px;background:#f27835;color:#fff;letter-spacing:15px;border:0;cursor:pointer;}
.login-area h5 a{text-decoration: underline;color:#b1b1b1;}
.login-area .assure{position:absolute;top:0;right:5px;}

/* 尾部 */
.footer{background: #f9f7f7;}
.footer .about .wmain .fr a, .footer .end p.cert a{background: url(../img/footer.png) no-repeat;display:inline-block;}
.footer .about{padding-top: 30px;}
.footer .about .wmain{height: 240px;}
.footer .about .wmain h4{margin-bottom: 20px;}
.footer .about .wmain .fl{text-align: left;}
.footer .about .wmain .fl p{font-size: 14px;margin-bottom: 50px;line-height: 25px;}
.footer .about .wmain .fl p a{margin-right: 65px;}
.footer .about .wmain .fl p em{color:#f27835;}
.footer .about .wmain .fr{width:136px;}
.footer .about .wmain .fr a{height:42px;width: 136px;margin-bottom: 20px;}
.footer .about .wmain .fr a.app2{background-position: 0 -45px;}
.footer .about .wmain .fr p{font-size: 12px;margin-top: 5px;}
.footer .end{background: #f2f1f1;padding:50px;text-align: left;}
.footer .end p{font-size: 14px;}
.footer .end p.cert{margin-top: 25px;}
.footer .end p.cert a{width:85px;height:31px;background-position: 0 -90px;}
.footer .end p.cert a{background-position: 0 -90px;}
.footer .end p.cert a.cert2{background-position: 0 -125px;margin-left: 10px;}

/* 侧边栏 */
.left-tab{width: 205px;border:1px solid #f0f0f0;}
.left-tab p.ti{width:100%;background: #f27835;height: 45px;line-height:45px;color:#fff;font-size: 12px;}
.left-tab .cont-tab{width: 120px;margin:0 auto;}
.left-tab .cont-tab p{height:14px;line-height: 14px;}
.left-tab .cont-tab p span.name{background:url(../img/icon.png) no-repeat;padding-left: 22px;font-size: 12px;}
.left-tab .cont-tab p span.sub-link{width:13px;height:7px;display: inline-block;background: url(../img/icon.png) no-repeat;background-position: 0 -90px;padding-left: 10px;}



