@charset "utf-8";
/* CSS Document */

/* * * * * * * * * * * * * * * * 基本设置 * * * * * * * * * * * * * * * */
html,body{height: 100%;width:100%;}
body{background: #fff;text-align: center;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure,button,select{margin:0;padding:0;font-family: '\5FAE\8F6F\96C5\9ED1';color:#919191;font-weight: 200;font-size:16px;border:0;}
h1,h2,h3,h4,h5,h6{font-family: '\5FAE\8F6F\96C5\9ED1';color:#373737;font-weight: normal;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:12px;}
input,textarea,button,select{margin:0;padding:0;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
a{text-decoration:none;outline:none;color:#919191;cursor:pointer;}
a:hover{text-decoration: underline;}
img{margin:0;padding:0;border:none;}
ul,li{list-style: none;}
button{height:32px;}
p input{height:28px;line-height:28px;padding: 0 5px;border:2px solid #b2b2b2;font-size: 14px;}
p input.check{height: 13px;width: 13px;vertical-align: middle;}
p span.pwd-box{width: 215px;position:relative;text-align:left;height: 32px;line-height: 32px;padding: 0 5px;border:2px solid #b2b2b2;font-size: 14px;display: inline-block;}
p span.pwd-box input{width: 188px !important;height: 32px;border:none;vertical-align: top;line-height: 32px;padding: 0;margin:0;}
p span.pwd-box input::-ms-reveal{display: none;}
p span.pwd-box a.visible{display: inline-block;background: url(/static/img/eye.png) no-repeat;width:23px;height:15px;position:absolute;top:10px;right: 5px;}
.sub-text{font-size: 12px !important; text-align: left;line-height: 18px;}
.bk-gray{background: #fafafa;width: 100%;padding: 50px 0;}
.wmain{width:1140px;margin:0 auto;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.fr-main{width:874px;float: right;}
.border-box{border-left:4px solid #f27835;background: #fff;text-align: left;overflow: hidden;-moz-box-shadow:0px 2px 2px 0px #d3d3d3;-webkit-box-shadow:0px 2px 2px 0px #d3d3d3;box-shadow:0px 2px 2px 0px #d3d3d3;}
.shadow-box{-moz-box-shadow:0px 1px 1px 1px #d3d3d3;-webkit-box-shadow:0px 1px 1px 1px #d3d3d3;box-shadow:0px 1px 1px 1px #d3d3d3;background: #fff;}
.assure{display: inline-block;height:28px;width:22px;background: url(/static/img/assure.png) no-repeat;}
.assurecont{position:absolute;top:-35px;right:0;display: none;}
.assurecont .contword{position: relative;height:28px;width:173px;z-index:100;}
.assurecont .contword .cont-bk{position: absolute;height:24px;top:0;left:0;background: #373737;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;width:100%;z-index: 101; }
.assurecont .contword span{position: absolute;height: 4px;width: 12px;top:24px;right: 10px;background: url(/static/img/arrow4.png) no-repeat;z-index: 102;}
.assurecont .contword p{font-size:12px;line-height: 24px;color:#fff;z-index: 102;position: absolute;top:0;left:0;width:100%;text-align: center;}

.sub-link{background:url(/static/img/arrow.png) no-repeat right center;padding-right:16px;}
button{cursor: pointer;}
.light-btn{background: #f27835;color:#fff;text-align: center;}
.light-btn:hover{background: #f06a21;text-decoration: none}
.gray-btn{background: #b5b5b5;color:#fff;text-align: center;}
.gray-btn:hover{background: #a6a6a6;text-decoration: none}
.light-border{background: #fff;border:1px solid #f27835;color:#f27835;font-size: 12px;padding:6px 65px;}
.light-border:hover{background:#f27835;color:#fff;text-decoration: none;}
.show{display: block !important;}
.hide{display: none !important;}

h4.col-ti{overflow: hidden;margin-bottom: 25px;}
h4.col-ti span{float:left;}
h4.col-ti .ti-logo{padding:7px;background: #f27835;margin-top:5px;margin-right: 15px;}
h4.col-ti a{color:#f27835;text-decoration: underline;font-size: 14px;}
a.quit{background: url(/static/img/quit.png) no-repeat;height: 18px;width:18px;display: inline-block;}
p.error-msg{font-size: 12px !important;color:#dc5b46;font-style: normal;line-height: 15px !important;height:15px !important;text-align: left;}
.no-margin{margin-bottom:0 !important;}


/* * * * * * * * * * * * * * * * 顶部 * * * * * * * * * * * * * * * */
.header{width:100%;height: 40px;padding:18px 0;border-bottom:2px solid #dfdfdf;}
.header .wmain{overflow: visible;}
.header .fl a{display: inline-block;vertical-align: top;}
.header .fl .slogan{margin-left: 30px;margin-top: 12px;}
.header .fr{height:40px;line-height: 40px;position: relative;z-index:1;}
.header .fr a{text-decoration: none;color:#373737;width: 100%;}
.header .fr a.link{display:inline-block;width: 130px;height:40px;}
.header .fr a.link:hover{background:#f27835;color:#fff;}
.header .fr a.selected{background:#f27835;color:#fff;}
.header .fr .regis-login{margin-left: 15px;display: inline-block;position: relative;}
.header .fr .regis-login a{color:#f27835;padding:0;margin:0;margin-right:0;display: inline;}
.header .fr .regis-login em{color:#f27835;padding:0 4px;}
.header .fr .regis-login p.name-msg{background: url(/static/img/arrow5.png) no-repeat right center;padding-right: 25px;}
.header .fr .regis-login p .name{color:#f27835;width: 80px;text-align: center;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;display: inline-block;vertical-align: top;}
.header .fr .regis-login .msg-num{color:#fff;background:#f27835;border-radius: 9px;padding:0 8px;font-size: 12px; vertical-align: top;margin-left: 2px;}
.header .fr .regis-login ul{position: absolute;top:39px;right:-5px;width:auto;text-align: left;}
.header .fr .regis-login ul li{padding:0 15px;width: 145px;overflow: hidden;}
.header .fr .regis-login ul li a{font-size: 12px;white-space: nowrap;color:#212121;}
.header .fr .regis-login ul li a.msg-num{float:right;height: 15px;line-height: 15px;margin-top: 14px;width:6px;}
.header .fr .regis-login ul li.ti{background:#f27835}
.header .fr .regis-login ul li.ti a{font-size: 14px;color:#fff;;}
.header .fr .regis-login ul li a.login1, .header .fr .regis-login ul li a.login2, .header .fr .regis-login ul li a.login3, .header .fr .regis-login ul li a.login4{padding-left:22px;width:97px;display: inline-block;}
.header .fr .regis-login ul li a.login1{background: url(/static/img/login1.png) no-repeat left center;}
.header .fr .regis-login ul li a.login2{background: url(/static/img/login2.png) no-repeat left center;}
.header .fr .regis-login ul li a.login3{background: url(/static/img/login3.png) no-repeat left center;float:left;}
.header .fr .regis-login ul li a.login4{background: url(/static/img/login4.png) no-repeat left center;}
.header .fr .regis-login ul li:hover a{color:#fff;}
.header .fr .regis-login ul li:hover a.login1{background: url(/static/img/login11.png) no-repeat left center;}
.header .fr .regis-login ul li:hover a.login2{background: url(/static/img/login21.png) no-repeat left center;}
.header .fr .regis-login ul li:hover a.login3{background: url(/static/img/login31.png) no-repeat left center;}
.header .fr .regis-login ul li:hover a.login4{background: url(/static/img/login41.png) no-repeat left center;}
.header .fr a.selected .sub-link, .header .fr a:hover .sub-link{background: url(/static/img/arrow3.png) no-repeat right center;}
.header .fr ul{display: none;position: absolute;width:130px;z-index:20;top:39px;-moz-box-shadow:0px 1px 1px 1px #d3d3d3;-webkit-box-shadow:0px 1px 1px 1px #d3d3d3;box-shadow:0px 1px 1px 1px #d3d3d3;background: #fff;}
.header .fr ul.second{left:135px;}
.header .fr ul.forth{left:404px;}
.header .fr ul li{font-size: 12px;line-height: 42px;cursor: pointer;border-bottom: 1px dashed #e2e2e2;}
.header .fr ul li a{display: inline-block;}
.header .fr ul li:hover{background:#f49a68;color:#fff;border-bottom:1px solid #f49a68;}
.header .fr ul li:hover a{color:#fff;}


/* * * * * * * * * * * * * * * * 登录区 * * * * * * * * * * * * * * * */
.login-area{width:270px;height: 221px;float:right;margin-top:65px;background: #fff;padding:30px 15px;position: relative;}
.login-area .textField{width:266px;border-top:2px solid;border-left:2px solid;border-right:2px solid;border-bottom:4px solid #e67334;margin:9px 0;padding:0;position: relative;text-align: left;}
.login-area .textField span{width:19px;height:17px;margin:0 10px;display: inline-block;vertical-align: middle;background: url(/static/img/profile.png) no-repeat;}
.login-area .textField span.pwd{background:url(/static/img/lock.png) no-repeat;}
.login-area .textField a.visible{display: inline-block;background: url(/static/img/eye.png) no-repeat;width:23px;height:15px;position:absolute;top:10px;right: 5px;}
.login-area .textField input{width:210px;height:36px;border:none;vertical-align:middle;line-height:38px;padding: 0 8px;margin:0;}
.login-area .textField input#userPass{width:180px;}
.login-area .textField input#userPass::-ms-reveal{display: none;}
.login-area p.remember{overflow: hidden;line-height: 20px;margin-bottom: 5px;font-size:12px;}
.login-area p.remember input{vertical-align:middle;margin-right:8px;border:1px solid #f27835;line-height: 21px;height: 21px;}
.login-area p.remember .fl{color:#373737;}
.login-area p.remember .fr{color:#b1b1b1;}
.login-area .btn_login{height:45px;line-height:45px;width:100%;margin-bottom:15px;background:#f27835;color:#fff;border:0;cursor:pointer;}
.login-area .btn_login:hover{background: #f06a21}
.login-area h5 a{text-decoration: underline;color:#b1b1b1;}
.login-area .assure{position:absolute;top:0;right:5px;}


/* * * * * * * * * * * * * * * * 尾部 * * * * * * * * * * * * * * * */
.footer{background: #f9f7f7;}
.footer .about .wmain .fr a, .footer .end p.cert a{background: url(/static/img/footer.png) no-repeat;display:inline-block;}
.footer .about{padding-top: 25px;}
.footer .about .wmain{height: 200px;}
.footer .about .wmain h4{margin-bottom: 10px;}
.footer .about .wmain .fl{text-align: left;}
.footer .about .wmain .fl p{font-size: 12px;margin-bottom: 35px;line-height: 20px;}
.footer .about .wmain .fl p a{margin-right: 65px;font-size: 14px;}
.footer .about .wmain .fl p em{color:#cc5116;}
.footer .about .wmain .fr{width:136px;}
.footer .about .wmain .fr a{height:36px;width: 117px;margin-bottom: 10px;}
.footer .about .wmain .fr a.app1:hover{background-position: 0 -90px}
.footer .about .wmain .fr a.app2{background-position: 0 -45px;}
.footer .about .wmain .fr a.app2:hover{background-position: 0 -135px;}

.footer .about .wmain .fr p{font-size: 12px;margin-top: 5px;}
.footer .end{background: #f2f1f1;padding: 40px;text-align: left;}
.footer .end p{font-size: 12px;}
.footer .end p.cert{margin-top: 18px;}
.footer .end p.cert a{width:73px;height:27px;background-position: 0 -90px;}
.footer .end p.cert a{background-position: 0 -180px;}
.footer .end p.cert a.cert2{background-position: 0 -215px;margin-left: 10px;}


/* * * * * * * * * * * * * * * * 侧边栏 * * * * * * * * * * * * * * * */
.left-tab{width:231px;border-top:3px solid #f27835;margin-left:3px;}
.left-tab a{padding-left: 70px;text-align: left;font-size: 12px;line-height: 44px;display:block;}
.left-tab a:hover{color:#f27835;text-decoration: none;}
.left-tab a.selected{background:#f27835;color:#fff;}
.left-tab a span{padding-left:23px;line-height: 44px;}
.left-tab a span.profile{background: url(/static/img/left-profile.png) no-repeat left center;}
.left-tab a.selected span.profile{background: url(/static/img/left-profile2.png) no-repeat left center;}
.left-tab a span.dollar{background: url(/static/img/left-dollar.png) no-repeat left center;}
.left-tab a.selected span.dollar{background: url(/static/img/left-dollar2.png) no-repeat left center;}
.left-tab a span.invest{background: url(/static/img/left-invest.png) no-repeat left center;}
.left-tab a.selected span.invest{background: url(/static/img/left-invest2.png) no-repeat left center;}
.left-tab a span.account{background: url(/static/img/left-account.png) no-repeat left center;}
.left-tab a.selected span.account{background: url(/static/img/left-account2.png) no-repeat left center;}
.left-tab a span.bonus{background: url(/static/img/left-bonus.png) no-repeat left center;}
.left-tab a.selected span.bonus{background: url(/static/img/left-bonus2.png) no-repeat left center;}
.left-tab a span .sub-column{background: url(/static/img/arrow2.png) no-repeat center;padding-left: 11px;margin-left: 8px;}
.left-tab a.selected span .sub-column{background: url(/static/img/arrow3.png) no-repeat center;}
.left-tab a span .num{background:#f27835;color:#fff;padding:0 8px;border-radius: 7px;margin-left: 8px;}

.left-tab ul{display: none;}
.left-tab ul li{line-height: 42px;}
.left-tab ul li a{text-align: center;line-height: 42px;padding-left: 0;}
.left-tab ul li a:hover{color:#f27835;}
.left-tab ul li a.selected{background:#f49a68;color:#fff;}



/* 左侧广告区 */
.left-adver{width: 233px;height:162px;margin-top: 40px;background: #f1f1f1;}


/* * * * * * * * * * * * * * * * 特点部分 * * * * * * * * * * * * * * * */
.feature{width:1170px;overflow: hidden;margin:80px 0 65px 0;}
.feature .each-fea{float:left;margin-right:30px;text-align:center;}
.feature .each-fea span{display:inline-block;height:56px;width:49px;margin:15px 0;background: url(/static/img/sy-feature.png) no-repeat;}
.feature .each-fea span.fea2{width:64px;background-position: -55px 0;}
.feature .each-fea span.fea3{width:55px;background-position: -120px 0;}
.feature .each-fea span.fea4{width:43px;background-position: -180px 0;}
.feature .each-fea span.fea5{width:44px;background-position: -230px 0;}
.feature .each-fea span.fea6{width:33px;background-position: -280px 0;}
.feature .each-fea h4{color:#f27835;}
.feature .each-fea h5{color:#919191;}

/* * * * * * * * * * * * * * * * 横屏版 * * * * * * * * * * * * * * * */

/* 全屏 */
.horizon{width:100%;height:130px;position:relative;z-index:1;margin-bottom:25px;}

.horizon .back-area{height:116px;width:1075px;position: absolute;z-index:2;top:0;left:0;background: #f27835;}
.horizon .back-area div{height:110px;width:169px;padding:5px 0 0 10px;background:url(/static/img/horizon.jpg) no-repeat;}
.horizon .back-area div h4, .horizon .back-area div a, .horizon .back-area div h6{color:#fff;text-align: left;}
.horizon .back-area div h6{line-height: 18px;margin-bottom: 8px;}
.horizon .back-area div a{text-decoration: underline;}
.horizon .back-area div a.a-tab{text-decoration: none;padding:0 8px;}
.horizon .back-area div a.selected{background: #d75d1f;border-radius:9px;}
.horizon .back-area .text-area2{background-position: 0 -115px;}
.horizon .back-area .text-area3{background-position: 0 -230px;}

.horizon .front-area{height:98px;width:861px;padding:15px 0 0 100px;position: absolute;z-index:3;bottom:0;right:0;background:#fff;border:1px solid #d3d3d3;display: none;}
.horizon .front-area div{float:left;width:215px;}
.horizon .front-area div p.num{color:#f27835;font-size:24px;margin:10px 0;}
.horizon .front-area div p.subti{font-size:12px;}
.horizon .front-area .operate{padding-top:25px;}
.horizon .front-area .operate a.light-btn, .horizon .front-area .operate .gray-btn{width:137px;height:33px;line-height: 33px;cursor:pointer;display: inline-block;}
.horizon .front-area .operate p{font-size: 12px;margin-top:12px;}
.horizon .front-area .operate p em{color:#f27835;}
.horizon .front-area .assure{position: absolute;top:0;right:10px;}
.horizon .front-area div.assurecont, .horizon .front-area div.assurecont div{width: 173px;}
.horizon .front-area div.assurecont span{right:15px;}
/* 右侧 */
.fr-main .horizon{height:100px;}
.fr-main .horizon .back-area{height: 87px;width: 820px;}
.fr-main .horizon .back-area div{height:85px;width:135px;background:url(/static/img/horizon2.jpg) no-repeat;padding:2px 0 0 10px;}
.fr-main .horizon .back-area div h4{font-size: 14px}
.fr-main .horizon .back-area div h6{font-size: 10px;line-height: 14px;}

.fr-main .horizon .back-area .text-area2{background-position: 0 -86px;}
.fr-main .horizon .back-area .text-area3{background-position: 0 -172px;}

.fr-main .horizon .front-area{height:77px;width: 660px;padding: 10px 0 0 71px;}
.fr-main .horizon .front-area div{width:165px;}
.fr-main .horizon .front-area div p{font-size: 12px;}
.fr-main .horizon .front-area div p.num{font-size:18px;margin:5px 0;}
.fr-main .horizon .front-area div p.subti{font-size:10px;}
.fr-main .horizon .front-area .operate{padding-top:20px;}
.fr-main .horizon .front-area .operate a.light-btn, .fr-main .horizon .front-area .operate a.gray-btn{width:104px;height:26px;line-height: 26px;font-size: 12px;}
.fr-main .horizon .front-area .operate p{font-size: 10px;margin-top:8px;}
.fr-main .horizon .front-area div.assurecont, .horizon .front-area div.assurecont div{width: 173px;}

/* 显示隐藏*/
.show{display:block;}
.hide{display: none;}

/* 404 */
.error404{margin:160px 0;}
.error404 p{margin-top:30px;}

/* 页码 */
.pages{width: 100%;text-align: center;line-height: 28px;height:28px;}
.pages a{padding:0 12px;display: inline-block;}
.pages a:hover{text-decoration: none;background:#f27835;color:#fff;}
.pages a.selected{background:#f27835;color:#fff;}


/* 弹框 */
.popbox-bankrank{width:445px;}
.popbox-bankrank .diginfo{background: #fff;width:455px;}
.popbox-bankrank .diginfo p.ti{height:65px;line-height: 65px;width:430px;background:#f27835;color:#fff;font-size: 18px;text-align: left;padding-left: 25px;position: relative;}
.popbox-bankrank .diginfo p.ti a{position:absolute;right:25px;top:22px;}
.popbox-bankrank .diginfo .cont{width:100%;max-height:480px;overflow-y: scroll;}
.popbox-bankrank .diginfo .cont table{width:100%;border-collapse:collapse;}
.popbox-bankrank .diginfo .cont table tr td{font-size: 14px;line-height: 60px;height: 60px;}
.popbox-bankrank .diginfo .cont thead tr td{border-bottom: 1px solid #dddddd;}
.popbox-bankrank .diginfo .cont tbody tr td{color:#373737;}
.popbox-bankrank .diginfo .cont table tr td.last{padding-right:10px;}

.popbox-bankrank .diginfo .cont2, .popbox-bankrank .diginfo .cont3{overflow: hidden;}
.popbox-bankrank .diginfo .cont2 p{text-align: left;padding-left: 70px;}
.popbox-bankrank .diginfo p{overflow: hidden;margin-bottom: 10px;}
.popbox-bankrank .diginfo p span.p-ti{display: inline-block;width: 70px;text-align: right;margin-right: 12px;padding:1px;font-size: 14px;}
.popbox-bankrank .diginfo .cont2 p select{height:32px;line-height:32px;width: 145px;border:2px solid #919191;font-size: 14px;}
.popbox-bankrank .diginfo .bank-logo{height:19px;margin-left: 10px;vertical-align: middle;}
.popbox-bankrank .diginfo .cont2 p.moreInf{text-align: left;padding-left: 68px;}
.popbox-bankrank .diginfo .cont2 p.moreInf a{text-decoration: underline;padding-left: 10px;font-size: 12px;}
.popbox-bankrank .diginfo .cont2 p a.light-btn, .diginfo .cont2 p a.gray-btn{width:140px;display: inline-block;line-height: 30px;height: 30px;}
.popbox-bankrank .diginfo .cont2 p a.light-btn{margin-left: 20px;}
.popbox-bankrank .diginfo .cont2 p input{width:216px;}
.popbox-bankrank .diginfo .cont3{padding:25px 0 45px 0;}
.popbox-bankrank .diginfo .cont3 input{width:216px;}
.popbox-bankrank .diginfo .cont3 p{text-align: left;padding-left:115px;margin-top: 20px;font-size:14px;}
.popbox-bankrank .diginfo .cont3 p.sub-text{margin-top: 0;}
.popbox-bankrank .diginfo .cont3 p.sub-text a{margin-left: 60px;color:#f27835;text-decoration: underline;}
.popbox-bankrank .diginfo .cont3 p.error-msg{margin:0;}
.popbox-bankrank .diginfo .cont3 p a.light-btn{width:231px;display: inline-block;line-height: 32px;height: 32px;}
.popbox-bankrank .diginfo .cont3 p.buy-ok{padding-left: 105px;margin-bottom: 40px;}
.popbox-bankrank .diginfo .cont3 p.buy-ok a{color:#f27835;text-decoration: underline;}
.popbox-bankrank .diginfo .cont4{padding:30px 20px;}
.popbox-bankrank .diginfo .cont4 p{font-size: 12px;line-height: 20px;text-align: left;}

.popbox-bankrank .diginfo2{background: #fff;width:315px;}
.popbox-bankrank .diginfo2 p.ti{height:65px;line-height: 65px;width:290px;background:#f27835;color:#fff;font-size: 18px;text-align: left;padding-left: 25px;position: relative;}
.popbox-bankrank .diginfo2 p.ti a{position:absolute;right:25px;top:22px;}

.bank-pwd{display: inline-block;border-top:2px solid #919191;border-left:2px solid #919191;border-bottom:2px solid #919191;border-right: 1px solid #919191;}
.bank-pwd input{width:27px !important;height: 28px;border:none;border-right: 1px solid #919191;text-align: center;}

.redbag{background: url(/static/img/redbag.png) no-repeat right bottom #f27835;position: relative;}
.redbag{width: 245px;height: 53px;display: inline-block;padding:20px;margin-bottom: 20px;} 
.redbag div{display:inline-block;}
.redbag .num{width: 105px;text-align: left;vertical-align: top;}
.redbag p{color:#fff;font-size: 12px !important;line-height: 18px;}
.redbag .num p.title{font-size: 24px !important;line-height: 30px;}
.redbag .text{text-align: right;width: 135px;}
.redbag .text span{text-align: left;display: inline-block;}
.redbag .text p{line-height: 15px;}
.redbag .text p.title{font-size: 14px!important;line-height: 22px;}

.tab-col{margin: 20px 1px;}
.tab-col .tab{text-align: left;}
.tab-col .tab span{width: 106px;height: 37px;line-height: 37px;display: inline-block;text-align: center;background:#a6a6a6;color:#fff;cursor:pointer;box-shadow: -1px -1px 1px 0px #d3d3d3;}
.tab-col .tab span:hover{background: #f27835;}
.tab-col .tab span.selected{background: #fff;color:#373737;}

.tab-col .cont{display: none;text-align: left;padding:50px 70px;}
.tab-col .cont p.ti{line-height: 20px;margin-bottom: 15px;}
.tab-col .cont p.ti em{color:#373737;}
.tab-col .cont p.sub-cont{font-size: 12px;line-height: 20px;}
.tab-col .cont .img-box{width:100%;text-align: center;display: inline-block;margin:35px 0;}