@charset "utf-8";
/* CSS Document */

/* * * * * * * * * * * * * * * * 基本设置 * * * * * * * * * * * * * * * */
html,body{height: 100%;width:100%;}
body{background: #fff;text-align: center;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure,button{margin:0;padding:0;font-family: '\5FAE\8F6F\96C5\9ED1';color:#919191;font-weight: 200;font-size:16px;border:0;}
h1,h2,h3,h4,h5,h6{font-family: '\5FAE\8F6F\96C5\9ED1';color:#373737;font-weight: normal;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:12px;}
input,textarea,button,select{margin:0;padding:0;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
a{text-decoration:none;outline:none;color:#919191;cursor:pointer;}
a:hover{text-decoration: underline;}
img{margin:0;padding:0;border:none;}
ul,li{list-style: none;}
button{height:32px;font-size: 14px;}
p input{height:28px;line-height:28px;padding: 0 5px;border:2px solid #b2b2b2;font-size: 14px;}
.sub-text{font-size: 12px; text-align: left;line-height: 18px;}
.alert{font-size: 12px;color:#dc5b46;}
.bk-gray{background: #fafafa;width: 100%;padding: 50px 0;}
.wmain{width:1140px;margin:0 auto;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.fr-main{width:874px;float: right;}
.border-box{border-left:4px solid #f27835;background: #fff;text-align: left;overflow: hidden;-moz-box-shadow:0px 2px 2px 0px #d3d3d3;-webkit-box-shadow:0px 2px 2px 0px #d3d3d3;box-shadow:0px 2px 2px 0px #d3d3d3;}
.shadow-box{-moz-box-shadow:0px 1px 3px 1px #d3d3d3;-webkit-box-shadow:0px 1px 3px 1px #d3d3d3;box-shadow:0px 1px 3px 1px #d3d3d3;background: #fff;}
.assure{display: inline-block;height:28px;width:22px;background: url(../img/assure.png) no-repeat;}
.sub-link{background:url(../img/arrow.png) no-repeat right center;padding-right:16px;}
button{cursor: pointer;}
.light-btn{background: #f27835;color:#fff;}
.gray-btn{background: #b5b5b5;color:#fff;}
.show{display: block !important;}
.hide{display: none !important;}

h4.col-ti{overflow: hidden;margin-bottom: 25px;}
h4.col-ti span{float:left;}
h4.col-ti .ti-logo{padding:7px;background: #f27835;margin-top:5px;margin-right: 15px;}
h4.col-ti a{color:#f27835;text-decoration: underline;font-size: 14px;}



/* * * * * * * * * * * * * * * * 顶部 * * * * * * * * * * * * * * * */
.header{width:100%;height: 40px;padding:18px 0;border-bottom:2px solid #dfdfdf;}
.header .wmain{overflow: visible;}
.header .fl a{display: inline-block;vertical-align: middle;}
.header .fl .slogan{margin-left: 40px;}
.header .fr{height:40px;line-height: 40px;position: relative;}
.header .fr a{text-decoration: none;color:#373737;}
.header .fr a.link{display:inline-block;width: 130px;height:40px;}
.header .fr a.link:hover{background:#f27835;color:#fff;}
.header .fr a.selected{background:#f27835;color:#fff;}
.header .fr .regis-login{margin-left: 15px;}
.header .fr .regis-login a{color:#f27835;padding:0;margin:0;margin-right:0;}
.header .fr .regis-login em{color:#f27835;padding:0 4px;}
.header .fr a.selected .sub-link, .header .fr a:hover .sub-link{background: url(../img/arrow3.png) no-repeat right center;}
.header .fr ul{display: none;position: absolute;background: #fff;width:130px;}
.header .fr ul.second{left:135px;}
.header .fr ul.forth{left:404px;}
.header .fr ul li{font-size: 12px;line-height: 42px;cursor: pointer;border-bottom: 1px dashed #e2e2e2;}
.header .fr ul li:hover{color:#f27835;}
.header .fr ul li.selected{background:#f49a68;color:#fff;border-bottom:1px solid #f49a68;}

/* * * * * * * * * * * * * * * * 登录区 * * * * * * * * * * * * * * * */
.banner{width:100%;height:484px;background: url(../img/banner.jpg) no-repeat center #f04031;}
.login-area{width:270px;height: 221px;float:right;margin-top:65px;background: #fff;padding:40px 15px 30px 15px;position: relative;}
.login-area .textField{width:266px;border-top:2px solid;border-left:2px solid;border-right:2px solid;border-bottom:4px solid #e67334;margin-bottom:18px;padding:0;}
.login-area .textField span{width:19px;height:17px;margin:0 10px;display: inline-block;vertical-align: middle;background: url(../img/profile.png) no-repeat;}
.login-area .textField span.pwd{background:url(../img/lock.png) no-repeat;}
.login-area .textField input{width:210px;height:36px;border:none;vertical-align:middle;line-height:38px;padding: 0 8px;margin:0;}
.login-area p.remember{overflow: hidden;line-height: 12px;margin-bottom: 8px;font-size:12px;}
.login-area p.remember input{vertical-align:middle;margin-right:8px;border:1px solid #f27835;}
.login-area p.remember .fl{color:#373737;}
.login-area p.remember .fr{color:#b1b1b1;}
.login-area .btn_login{height:45px;line-height:45px;width:100%;margin-bottom:15px;background:#f27835;color:#fff;border:0;cursor:pointer;}
.login-area h5 a{text-decoration: underline;color:#b1b1b1;}
.login-area .assure{position:absolute;top:0;right:5px;}


/* * * * * * * * * * * * * * * * 尾部 * * * * * * * * * * * * * * * */
.footer{background: #f9f7f7;}
.footer .about .wmain .fr a, .footer .end p.cert a{background: url(../img/footer.png) no-repeat;display:inline-block;}
.footer .about{padding-top: 30px;}
.footer .about .wmain{height: 240px;}
.footer .about .wmain h4{margin-bottom: 20px;}
.footer .about .wmain .fl{text-align: left;}
.footer .about .wmain .fl p{font-size: 12px;margin-bottom: 50px;line-height: 25px;}
.footer .about .wmain .fl p a{margin-right: 65px;font-size: 14px;}
.footer .about .wmain .fl p em{color:#f27835;}
.footer .about .wmain .fr{width:136px;}
.footer .about .wmain .fr a{height:42px;width: 136px;margin-bottom: 20px;}
.footer .about .wmain .fr a.app2{background-position: 0 -45px;}
.footer .about .wmain .fr p{font-size: 12px;margin-top: 5px;}
.footer .end{background: #f2f1f1;padding:50px;text-align: left;}
.footer .end p{font-size: 12px;}
.footer .end p.cert{margin-top: 25px;}
.footer .end p.cert a{width:85px;height:31px;background-position: 0 -90px;}
.footer .end p.cert a{background-position: 0 -90px;}
.footer .end p.cert a.cert2{background-position: 0 -125px;margin-left: 10px;}


/* * * * * * * * * * * * * * * * 侧边栏 * * * * * * * * * * * * * * * */
.left-tab{width:231px;border-top:3px solid #f27835;margin-left:3px;}
.left-tab a{padding-left: 70px;text-align: left;font-size: 12px;line-height: 44px;display:block;}
.left-tab a:hover{color:#f27835;text-decoration: none;}
.left-tab a.selected{background:#f27835;color:#fff;}
.left-tab a span{padding-left:23px;line-height: 44px;}
.left-tab a span.profile{background: url(../img/left-profile.png) no-repeat left center;}
.left-tab a.selected span.profile{background: url(../img/left-profile2.png) no-repeat left center;}
.left-tab a span.dollar{background: url(../img/left-dollar.png) no-repeat left center;}
.left-tab a.selected span.dollar{background: url(../img/left-dollar2.png) no-repeat left center;}
.left-tab a span.invest{background: url(../img/left-invest.png) no-repeat left center;}
.left-tab a.selected span.invest{background: url(../img/left-invest2.png) no-repeat left center;}
.left-tab a span.account{background: url(../img/left-account.png) no-repeat left center;}
.left-tab a.selected span.account{background: url(../img/left-account2.png) no-repeat left center;}
.left-tab a span.bonus{background: url(../img/left-bonus.png) no-repeat left center;}
.left-tab a.selected span.bonus{background: url(../img/left-bonus2.png) no-repeat left center;}
.left-tab a span .sub-column{background: url(../img/arrow2.png) no-repeat center;padding-left: 11px;margin-left: 8px;}
.left-tab a.selected span .sub-column{background: url(../img/arrow3.png) no-repeat center;}
.left-tab a span .num{background:#f27835;color:#fff;padding:0 8px;border-radius: 7px;margin-left: 8px;}

.left-tab ul{display: none;}
.left-tab ul li{font-size: 12px;line-height: 42px;cursor: pointer;}
.left-tab ul li:hover{color:#f27835;}
.left-tab ul li.selected{background:#f49a68;color:#fff;}

/* 左侧广告区 */
.left-adver{width: 233px;height:162px;margin-top: 40px;background: #f1f1f1;}


/* * * * * * * * * * * * * * * * 特点部分 * * * * * * * * * * * * * * * */
.feature{width:1170px;overflow: hidden;margin:80px 0 65px 0;}
.feature .each-fea{float:left;margin-right:30px;text-align:center;}
.feature .each-fea span{display:inline-block;height:56px;width:49px;margin:15px 0;background: url(../img/sy-feature.png) no-repeat;}
.feature .each-fea span.fea2{width:64px;background-position: -55px 0;}
.feature .each-fea span.fea3{width:55px;background-position: -120px 0;}
.feature .each-fea span.fea4{width:43px;background-position: -180px 0;}
.feature .each-fea span.fea5{width:44px;background-position: -230px 0;}
.feature .each-fea span.fea6{width:33px;background-position: -280px 0;}
.feature .each-fea h4{color:#f27835;}
.feature .each-fea h5{color:#919191;}

/* * * * * * * * * * * * * * * * 横屏版 * * * * * * * * * * * * * * * */

/* 全屏 */
.horizon{width:100%;height:130px;position:relative;z-index:1;margin-bottom:25px;}

.horizon .back-area{height:116px;width:1075px;position: absolute;z-index:2;top:0;left:0;background: #f27835;}
.horizon .back-area div{height:110px;width:169px;padding:5px 0 0 10px;background:url(../img/horizon.jpg) no-repeat;}
.horizon .back-area div h4, .horizon .back-area div a, .horizon .back-area div h6{color:#fff;text-align: left;}
.horizon .back-area div h6{line-height: 18px;margin-bottom: 8px;}
.horizon .back-area div a{text-decoration: underline;}
.horizon .back-area div a.a-tab{text-decoration: none;padding:0 8px;}
.horizon .back-area div a.selected{background: #d75d1f;border-radius:9px;}
.horizon .back-area .text-area2{background-position: 0 -115px;}
.horizon .back-area .text-area3{background-position: 0 -230px;}

.horizon .front-area{height:98px;width:861px;padding:15px 0 0 100px;position: absolute;z-index:3;bottom:0;right:0;background:#fff;border:1px solid #d3d3d3;}
.horizon .front-area div{float:left;width:215px;}
.horizon .front-area div p.num{color:#f27835;font-size:24px;margin:10px 0;}
.horizon .front-area div p.subti{font-size:12px;}
.horizon .front-area .operate{padding-top:25px;}
.horizon .front-area .operate button{background: #f27835;color:#fff;width:137px;height:33px;cursor:pointer;}
.horizon .front-area .operate p{font-size: 12px;margin-top:12px;}
.horizon .front-area .operate p em{color:#f27835;}
.horizon .front-area .assure{position: absolute;top:0;right:10px;}

/* 右侧 */
.fr-main .horizon{height:100px;}
.fr-main .horizon .back-area{height: 87px;width: 820px;}
.fr-main .horizon .back-area div{height:85px;width:135px;background:url(../img/horizon2.jpg) no-repeat;padding:2px 0 0 10px;}
.fr-main .horizon .back-area div h4{font-size: 14px}
.fr-main .horizon .back-area div h6{font-size: 10px;line-height: 14px;}

.fr-main .horizon .back-area .text-area2{background-position: 0 -86px;}
.fr-main .horizon .back-area .text-area3{background-position: 0 -172px;}

.fr-main .horizon .front-area{height:77px;width: 660px;padding: 10px 0 0 71px;}
.fr-main .horizon .front-area div{width:165px;}
.fr-main .horizon .front-area div p{font-size: 12px;}
.fr-main .horizon .front-area div p.num{font-size:18px;margin:5px 0;}
.fr-main .horizon .front-area div p.subti{font-size:10px;}
.fr-main .horizon .front-area .operate{padding-top:20px;}
.fr-main .horizon .front-area .operate button{width:104px;height:26px;font-size: 12px;}
.fr-main .horizon .front-area .operate p{font-size: 10px;margin-top:8px;}