@charset "utf-8";
/* CSS Document */

/* * * * * * * * * * * * * * * * 个人中心 * * * * * * * * * * * * * * * */
.person-data{width:720px;padding:35px 100px 35px 50px;}
.person-data .portrait{width:86px;height: 86px;border-radius: 43px;float:left;}
.person-data .fl{padding-top:25px;margin-left:35px;}
.person-data .fr{padding-top: 25px}
.person-data .fl h5{margin-bottom: 5px;}
.person-data .fl p .vip-rank{background:#f27835;padding:0 6px;border-radius: 4px;color:#fff;font-size: 12px;}
.person-data .fund-img{margin-top: 40px;overflow: hidden;}
.person-data .fund-img span{float: left;margin-right: 25px;}
.person-data .fund-img span h4{color:#f27835;margin-top: 16px}
.person-data .fr .service{line-height: 15px;height: 15px;margin-bottom:55px;}
.person-data .fr .service span{background: url(../img/service1.png) no-repeat;display: inline-block;width:17px;height: 15px;margin-right: 15px;}
.person-data .fr .service span.selected{background: url(../img/service2.png) no-repeat;display: inline-block;width:17px;height: 15px;margin-right: 15px;}
.person-data .fr .service span.service4{margin-right: 0;}
.person-data .fr .service span.service2{background-position: -20px 0;}
.person-data .fr .service span.service3{background-position: -40px 0;}
.person-data .fr .service span.service4{background-position: -60px 0;}
.person-data .fr p{text-align: center;}
.person-data .fr p button{width: 110px;height: 26px;margin-top:10px;font-size: 14px;}

.good-pro{margin-top: 50px;}


/* * * * * * * * * * * * * * * * 我的资金 * * * * * * * * * * * * * * * */
/* 我的资金 */
.recharge{}
.recharge .border-box{width:854px;padding:15px 0 20px 20px;margin-bottom: 15px;position:relative;}
.recharge p{overflow: hidden;margin-bottom: 10px;}
.recharge p span.p-ti{display: inline-block;width: 150px;text-align: right;margin-right: 12px;padding:1px;font-size: 14px;}
.recharge p input{width:216px;}
.recharge p select{height:32px;line-height:32px; width:230px;border:2px solid #919191;font-size: 14px;margin-left: -4px;}
.recharge p.address select{width:auto;margin-right: 15px}
.recharge p.address em{font-size: 14px;margin-right: 5px;}

.recharge p input.shortOne{width:120px;}
.recharge p button{width: 230px;}
.recharge p a{font-size: 12px}
.recharge p a.moreInf{text-decoration: underline;padding-left: 10px;}
.recharge p a.light-btn{display:inline-block;width:90px;height: 32px;line-height: 32px;vertical-align: top;text-align: center;margin-left:5px;font-size: 10px;text-decoration: none;}
.recharge p span em{display: inline-block;vertical-align: middle;background: url(../img/star-decorate.png) no-repeat;width: 10px;height: 8px;}
.recharge .bank-logo{height:20px;margin-left: 10px;vertical-align: middle;}
.recharge p strong.num{font-size: 24px;font-weight:normal;color:#f27835;}
.recharge .remind-msg{position: absolute;top:40px;right:0;}
.recharge .remind-msg p{font-size: 12px;margin-bottom: 5px;}
.recharge .remind-msg h4{font-size: 16px;margin-bottom: 8px;}

.recharge .bank-own{overflow: hidden;width: 100%;}
.recharge .bank-own .each-border{width:257px;height: 111px;background: #f27835;border-radius: 4px;float:left;margin-right: 20px;margin-bottom: 15px;}
.recharge .bank-own .each-border .border-pad{padding:20px 15px;position: relative;}
.recharge .bank-own .each-border p{color: #fff;text-align: left;font-size: 12px;}
.recharge .bank-own .each-border p.bank-name{font-size: 14px;}
.recharge .bank-own .each-border p.card-num{text-align: right;}
.recharge .bank-own .each-border span{display: inline-block;width:22px;height: 22px;position: absolute;top:20px;right: 15px;}
.recharge .bank-own .bank-icbc span{background: url(../img/bank/icbc2.png) no-repeat;}
.recharge .bank-own .bank-add{float:left;width:108px;height:110px;background: url(../img/add.png) no-repeat center bottom;margin-bottom: 15px;}
.recharge .bank-msg .sub-text{margin-bottom: 20px}
.recharge .bank-pwd{display: inline-block;border-top:2px solid #919191;border-left:2px solid #919191;border-bottom:2px solid #919191;border-right: 1px solid #919191;margin-left: -4px;}
.recharge .bank-pwd input{width:27px;height: 28px;border:none;border-right: 1px solid #919191;text-align: center;}
.recharge p.sub-text a.forget-pwd{margin-left:66px;}
.recharge p.alert{margin-top:-5px;}

.popbox-bankrank{width:445px;}
.popbox-bankrank .diginfo{background: #fff;width:455px;}
.popbox-bankrank .diginfo p.ti{height:65px;line-height: 65px;width:430px;background:#f27835;color:#fff;font-size: 18px;text-align: left;padding-left: 25px;position: relative;}
.popbox-bankrank .diginfo p.ti a{position:absolute;right:25px;top:22px;}
.popbox-bankrank .diginfo .cont{width:100%;max-height:480px;overflow-y: scroll;}
.popbox-bankrank .diginfo .cont table{width:100%;border-collapse:collapse;}
.popbox-bankrank .diginfo .cont table tr{line-height: 60px;}
.popbox-bankrank .diginfo .cont table tr th{font-size: 14px;border-bottom: 1px solid #dddddd;}
.popbox-bankrank .diginfo .cont table tr td{color:#373737;font-size: 14px;}

.system-msg p.msg-btn{text-align: left;}
.system-msg p.msg-btn a{margin-right: 10px;width: 140px;height:30px;line-height: 30px;display: inline-block;}
.system-msg p.msg-btn a:hover{text-decoration: none;}
.system-msg p.more a{width: 100%;height:30px;line-height: 30px;display: inline-block;}
.system-msg p.more a:hover{text-decoration: none;}
.system-msg .shadow-box{margin:30px 0;text-align: left;}
.system-msg .shadow-box .each{border-bottom:1px solid #efefef;}
.system-msg .shadow-box .each p{line-height: 75px;padding:0 35px;}
.system-msg .shadow-box .each p.ti{font-size: 14px;overflow: hidden;cursor:pointer;}
.system-msg .shadow-box .each p.ti a{background: url(/static/img/system-circle1.png) no-repeat center left;padding-left: 100px;float: left;}
.system-msg .shadow-box .each p.ti span{float:right;}
.system-msg .shadow-box .each.viewed p.ti a{background: url(/static/img/system-circle3.png) no-repeat center left;}
.system-msg .shadow-box .each p.ti:hover{background: #f27835;}
.system-msg .shadow-box .each p.ti:hover a{color:#fff;background: url(/static/img/system-circle2.png) no-repeat center left;}
.system-msg .shadow-box .each p.ti:hover span{color:#fff;}
.system-msg .shadow-box .each.selected p.ti{background: #f27835;}
.system-msg .shadow-box .each.selected p.ti a{color:#fff;background: url(/static/img/system-circle2.png) no-repeat center left;}
.system-msg .shadow-box .each.selected p.ti span{color:#fff;}
.system-msg .shadow-box .each p.cont{font-size: 12px;display: none;}
.system-msg .shadow-box .each.selected p.cont{display:inline-block;}


