@charset "utf-8";
/* CSS Document */
.remind-msg{text-align: left;width:435px;}
.remind-msg p{font-size: 12px;margin-bottom: 5px;width:100%;}
.remind-msg h4{font-size: 16px;margin-bottom: 8px;}

.bank-own{overflow: hidden;width: 100%;}
.bank-own .each-border{width:257px;height: 111px;background: #f27835;border-radius: 4px;float:left;margin-right: 20px;margin-bottom: 15px;}
.bank-own .each-border .border-pad{padding:20px 15px;position: relative;}
.bank-own .each-border p{color: #fff;text-align: left;font-size: 12px;}
.bank-own .each-border p.bank-name{font-size: 14px;}
.bank-own .each-border p.card-num{text-align: right;}
.bank-own .each-border img{display: inline-block;height: 22px;position: absolute;top:20px;right: 15px;}
.bank-own .each-border p.card-owner{text-align: right;margin-top: 45px;margin-bottom: 10px;}
.bank-own .each-border p.card-bound{overflow: hidden;}
.bank-own .each-border p.card-bound i{float: left;font-style: normal;}
.bank-own .each-border p.card-bound em{float: right;}



/* * * * * * * * * * * * * * * * 个人中心 * * * * * * * * * * * * * * * */
.person-data{width:720px;padding:35px 100px 35px 50px;}
.person-data .portrait{width:86px;height: 86px;border-radius: 43px;float:left;}
.person-data .fl{padding-top:25px;margin-left:35px;}
.person-data .fr{padding-top: 25px}
.person-data .fl h5{margin-bottom: 5px;}
.person-data .fl p .vip-rank{background:#f27835;padding:0 6px;border-radius: 4px;color:#fff;font-size: 12px;}
.person-data .fund-img{margin-top: 40px;overflow: hidden;}
.person-data .fund-img span{float: left;margin-right: 25px;}
.person-data .fund-img span h4{color:#f27835;margin-top: 16px}
.person-data .fr .service{line-height: 15px;height: 15px;margin-bottom:55px;}
.person-data .fr .service span{background: url(/static/img/service1.png) no-repeat;display: inline-block;width:17px;height: 15px;margin-right: 15px;position: relative;cursor:pointer;z-index:1;}
.person-data .fr .service span em{position:absolute;top:-20px;left:-38px;width: 90px;font-size: 12px;text-align:center;display: none;z-index:2;}
.person-data .fr .service span:hover em{display: inline-block;}
.person-data .fr .service span.selected{background: url(/static/img/service2.png) no-repeat;display: inline-block;width:17px;height: 15px;margin-right: 15px;}
.person-data .fr .service span.service4{margin-right: 0;}
.person-data .fr .service span.service2{background-position: -20px 0;}
.person-data .fr .service span.service3{background-position: -40px 0;}
.person-data .fr .service span.service4{background-position: -60px 0;}
.person-data .fr p{text-align: center;}
.person-data .fr p a.light-btn, .person-data .fr p a.gray-btn{width: 110px;height: 26px;line-height: 26px;margin-top:10px;font-size: 14px;display: inline-block;}

.good-pro{margin-top: 50px;}


/* * * * * * * * * * * * * * * * 我的资金 * * * * * * * * * * * * * * * */
/* 我的资金 */
.recharge{display: none;}
.recharge .border-box{width:854px;padding:15px 0 20px 20px;margin-bottom: 15px;position:relative;}
.recharge .border-box p.error-msg{padding-left: 165px;}
.recharge p{overflow: hidden;margin-bottom: 10px;font-size: 14px;}
.recharge p i{color:#f27835;font-style:normal}
.recharge p span.p-ti{display: inline-block;width: 150px;text-align: right;margin-right: 12px;padding:1px;font-size: 14px;}
.recharge p input{width:216px;}
.recharge p .bank-pwd{margin-left: -4px;}
.recharge p .bank-pwd input{width:27px;}
.recharge p select{height:32px;line-height:32px; width:230px;border:2px solid #919191;font-size: 14px;margin-left: -4px;}
.recharge p.address select{width:auto;margin-right: 15px}
.recharge p.address em{font-size: 14px;margin-right: 5px;}

.recharge p input.shortOne{width:120px;}
.recharge p a{font-size: 12px}
.recharge p a.moreInf{text-decoration: underline;padding-left: 10px;}
.recharge p a.light-btn, .recharge p a.gray-btn{display:inline-block;width:90px;height: 32px;line-height: 32px;vertical-align: top;text-align: center;margin-left:5px;font-size: 10px;text-decoration: none;}
.recharge p a.nextBtn{width: 230px;margin-left: 0;}
.recharge p span em{display: inline-block;vertical-align: middle;background: url(/static/img/star-decorate.png) no-repeat;width: 10px;height: 8px;}
.recharge .bank-logo{height:19px;margin-left: 10px;vertical-align: middle;}
.recharge p strong.num{font-size: 24px;font-weight:normal;color:#f27835;}


.recharge .bank-msg .sub-text{margin-bottom: 20px}
.recharge p.sub-text a.forget-pwd{margin-left:66px;}
.recharge p.alert{margin-top:-5px;}

.recharge .remind-msg{position: absolute;top:40px;right:0;}

.system-msg p.msg-btn{text-align: left;}
.system-msg p.msg-btn a{margin-right: 10px;width: 140px;height:30px;line-height: 30px;display: inline-block;}
.system-msg p.msg-btn a:hover{text-decoration: none;}
.system-msg p.more a{width: 100%;height:30px;line-height: 30px;display: inline-block;}
.system-msg p.more a:hover{text-decoration: none;}
.system-msg .shadow-box{margin:30px 0;text-align: left;min-height: 440px;}
.system-msg .shadow-box .each{border-bottom:1px solid #efefef;}
.system-msg .shadow-box .each p{line-height: 75px;padding:0 35px;}
.system-msg .shadow-box .each p.ti{font-size: 14px;overflow: hidden;cursor:pointer;}
.system-msg .shadow-box .each p.ti a.title{color:#f27835;display: inline-block;width:490px;margin:0 80px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;vertical-align:middle;}
.system-msg .shadow-box .each p.ti a:hover{text-decoration: none;}

.system-msg .shadow-box .each p.ti span{}
.system-msg .shadow-box .viewed p.ti a.title{color:#919191;}
.system-msg .shadow-box .each p.ti:hover{background: #f27835;}
.system-msg .shadow-box .each p.ti:hover a{color:#fff;}
.system-msg .shadow-box .each p.ti:hover span{color:#fff;}
.system-msg .shadow-box .selected p.ti{background: #f27835;}
.system-msg .shadow-box .selected p.ti a.title{color:#fff;}
.system-msg .shadow-box .selected p.ti span{color:#fff;}
.system-msg .shadow-box .each p.cont{font-size: 12px;display: none;}
.system-msg .shadow-box .selected p.cont{display:inline-block;}

.system-msg .shadow-box .each p.ti a.checkbox{display:inline-block;margin-top: 32px;width: 10px;height:10px;border-radius: 5px;background: #919191;}
.system-msg .shadow-box .each p.ti a.selected{display:inline-block;margin-top: 32px;width: 10px;height:10px;border-radius: 5px;background: #f27835;}

.system-msg .shadow-box .selected p.ti a.checkbox{background: #fff;}
.system-msg .shadow-box .selected p.ti a.selected{width:6px;height:6px;border:2px solid #fff;background: #f27835;}
.system-msg .shadow-box .each p.ti:hover a.checkbox{background: #fff;}
.system-msg .shadow-box .each p.ti:hover a.selected{width:6px;height:6px;border:2px solid #fff;background: #f27835;}
.system-msg .shadow-box h4.notice{padding:40px;}

.bankcard .bank-own{overflow: hidden;}
.bankcard .bank-own .fl{width:286px;}
.bankcard .bank-own .each-border{width:285px;height: 161px;position:relative;margin-bottom: 5px;}
.bankcard .bank-own .fl a{float:left;width:100%;text-align: right;color:#f27835;font-size:12px;text-decoration: underline;}
.bankcard .bank-own .each-border p.card-num{font-size:14px;}
.bankcard .bank-own .each-border p.card-bound em{font-size:14px;}
.bankcard .bank-own .remind-msg{float:right;width: 528px;}
.bankcard .add-bank{float:left;background: url(/static/img/add-bank.png) no-repeat;width: 286px;height:162px;}
.bankcard h5{text-align: left;margin-top: 50px;margin-bottom: 20px;}
.bankcard .shadow-box{margin: 1px;}
.bankcard .shadow-box table{width: 100%;border-collapse: collapse;}
.bankcard .shadow-box table td{line-height: 60px;height:60px;font-size: 14px;}
.bankcard .shadow-box table thead tr td{border-bottom: 1px solid #dddddd;}
.bankcard .shadow-box table tbody tr td{color:#373737;}

.myInput{}
.myInput .border-box{padding: 20px 15px 20px 30px;}
.myInput .border-box .pie-chart{width: 845px;}
.myInput .border-box .pie-chart .each{width: 385px;margin-right: 35px;display:inline-block;}
.myInput .border-box .pie-chart .each p.ti{padding-bottom: 10px;border-bottom: 1px solid #f27835;font-size: 14px;}
.myInput .border-box .pie-chart .each p.ti em{font-size: 24px;color:#f27835;}
.myInput .border-box .pie-chart .each .chart{display: inline-block;margin-top: 20px;height:165px;}
.myInput .border-box .pie-chart .each .chart span{display: inline-block;width: 204px;margin-left: 15px;vertical-align: top;margin-top: 20px;}
.myInput .border-box .pie-chart .each .chart span p em{display: inline-block;width:20px;height: 20px;border-radius: 10px;margin-right: 5px;vertical-align: middle;}
.myInput .border-box .pie-chart .each .chart span p em.bar1{background: #f27835}
.myInput .border-box .pie-chart .each .chart span p em.bar2{background: #f39c11}
.myInput .border-box .pie-chart .each .chart span p em.bar3{background: #58d68d}
.myInput .border-box .pie-chart .each .chart span p em.bar4{background: #6699cc}
.myInput .border-box .pie-chart .each .chart span p{font-size:14px; line-height: 28px;}
.myInput .border-box .pie-chart .each .chart span p strong{font-weight: 300;color:#f27835;}
.myInput .border-box .pie-chart .each .chart span p i{font-style: normal;}

.myInput .tab-col .cont{padding:0;}
.myInput .tab-col .cont .table-ti{line-height: 40px;padding:20px;overflow: hidden;}
.myInput .tab-col .cont .table-ti em{font-size: 12px;padding:3px 12px;border-radius: 10px;cursor:pointer;}
.myInput .tab-col .cont .table-ti em.selected{color:#fff;background:#f27835;}
.myInput .tab-col .cont .table-ti em:hover{color:#f27835; }
.myInput .tab-col .cont .table-ti em.selected:hover{color:#fff;background:#f27835;}
.myInput .tab-col .cont .sub-tab{display: none;}
.myInput #content{position: relative;padding-bottom: 20px;}
.myInput #content .hqb-msg{position: absolute;top:-55px;right:10px;}
.myInput #content .hqb-msg em{font-size: 12px;margin-right: 5px;}
.myInput #content .hqb-msg i{font-size: 24px;color:#f27835;font-style: normal;margin-right: 15px;}
.myInput #content table{width: 100%;border-collapse:collapse}
.myInput #content table tr{padding:0 30px;}
.myInput #content table thead td{border-bottom: 1px solid;}
.myInput #content table td{font-size: 14px;vertical-align: top;padding:10px;line-height: 25px;}
.myInput #content table td.left1{padding-left:20px;}
.myInput #content table td.right1{padding-right:20px;}
.myInput #content table tbody td{color:#373737;}
.myInput #content p.btn{text-align: center;margin-top:40px;}
.myInput #content p.btn a.light-btn{width:140px;margin:0 20px;display: inline-block;line-height:32px;}

.disccount{}
.disccount .shadow-box{margin:1px 1px 3px 1px;}
.disccount .shadow-box p{font-size: 14px;}
.disccount .shadow-box .each p.ti{display: inline-block;width: 550px;margin-bottom: 15px;}
.disccount .shadow-box .each p .gray-btn{display: inline-block;width:210px;line-height: 32px;}
.disccount .each{border-top:1px solid #d3d3d3;padding:35px;width:800px;text-align: left;}
.disccount .each .red-bag, .disccount .each .jx-quan, .disccount .each .ty-quan{padding-left:140px;width:660px;min-height: 95px;}
.disccount .each .red-bagNo{width:580px;}
.disccount .each .red-bag{background: url(/static/img/disccount1.jpg) no-repeat left top;}
.disccount .each .red-bagNo{background: url(/static/img/red-bag-no.jpg) no-repeat center center;height:150px;}
.disccount .each .jx-quan{background: url(/static/img/disccount2.jpg) no-repeat left center;}
.disccount .each .ty-quan{background: url(/static/img/disccount3.jpg) no-repeat left center;}
.disccount .each .red-bag .tab{margin-bottom: 10px;}
.disccount .each .red-bag .tab span{background: url(/static/img/arrow7.png) no-repeat right center;padding-right: 14px;margin-right:25px;}
.disccount .each .red-bag .tab span em{color:#f27835;font-size: 12px;padding-left: 5px;padding-bottom: 1px;cursor:pointer;}
.disccount .each .red-bag .tab span em i{font-style: normal;}
.disccount .each .red-bag .tab span.selected{background: url(/static/img/arrow7-1.png) no-repeat right center;}
.disccount .each .red-bag .tab span.selected em{background:#f27835;color:#fff;border-radius: 6px;}
.disccount .each .red-bag .redbag{margin-right: 20px;}
.disccount .each .red-bag .tab-cont{margin-top: 20px;}
.disccount .each .red-bag .red-used, .disccount .each .red-bag .red-dated{background:url(/static/img/redbag2.png) no-repeat bottom right #a6a6a6;}
.disccount .each .red-bag .redbag .used, .disccount .each .red-bag .redbag .dated{position: absolute;top:3px;right:5px;font-size: 12px;}
.disccount .each .red-bag .redbag .used{color:#ffa674;font-weight: 900}
.disccount .each .red-bag .redbag .dated{color:#fff;}
.disccount .each .red-bag .red-used .num p.sub-title, .disccount .each .red-bag .red-dated .num p.sub-title{letter-spacing:-1px;}

.account-manage{}
.account-manage .each{border-top:1px solid #d3d3d3;padding:25px;width:820px;text-align: left;}
.account-manage .each .main-msg{font-size: 14px;line-height: 22px;background: url(/static/img/ok.png) no-repeat left center;padding-left: 45px;}
.account-manage .each .need-write{background: url(/static/img/ok-no.png) no-repeat left center;}
.account-manage .each .main-msg .p-ti{margin-right: 40px;}
.account-manage .each .main-msg .cont{display: inline-block;width: 575px;}
.account-manage .each .main-msg .cont2{display: inline-block;width: 480px;}
.account-manage .each .main-msg .cont em, .account-manage .each .main-msg .cont2 em{color:#f27835;}
.account-manage .each .main-msg .light-btn{display: inline-block;width:84px;line-height: 30px;margin-left: 9px;}
.account-manage .each .main-msg .light-btn em{background: url(/static/img/arrow8.png) no-repeat right center;padding-right: 12px;width:58px;text-align: center;display: inline-block;}
.account-manage .each .sub-msg{display: none;padding-left: 145px;margin-top:50px;margin-bottom: 20px;}
.account-manage .each .sub-msg p{font-size: 14px;margin-bottom: 25px;}
.account-manage .each .sub-msg p.sub-text, .account-manage .each .sub-msg p.error-msg, .account-manage .each .sub-msg p.btn-line, .account-manage .each .sub-msg p.btn-line2{margin:5px 0 12px 80px;}
.account-manage .each .sub-msg p .p-ti{display: inline-block;width:80px;}
.account-manage .each .sub-msg p .light-btn, .account-manage .each .sub-msg p .gray-btn{display: inline-block;width:231px;line-height: 30px;}
.account-manage .each .sub-msg p.btn-line, .account-manage .each .sub-msg p.btn-line2{margin-top: 20px;}
.account-manage .each .sub-msg p.btn-line2 .light-btn, .account-manage .each .sub-msg p.btn-line2 .gray-btn{margin-right: 15px;width:113px;}
.account-manage .each .sub-msg p input{width:227px;}
.account-manage .each .sub-msg p .pwd-area{display:inline-block;width:237px;border:2px solid #b2b2b2;position:relative;}
.account-manage .each .sub-msg p .pwd-area input{width:195px;height:30px;border:none;vertical-align:middle;line-height:32px;padding: 0 6px;margin:0;}
.account-manage .each .sub-msg p .pwd-area a.visible{display: inline-block;background: url(/static/img/eye.png) no-repeat;width:23px;height:15px;position:absolute;top:10px;right: 5px;}
.account-manage .each .sub-msg p .pwd-area input#userPass{width:180px;}
.account-manage .each .sub-msg p .pwd-area input#userPass::-ms-reveal{display: none;}

.account-manage .each .sub-msg p select{height:32px;line-height:32px;border:2px solid #919191;font-size: 14px;min-width:140px;}
.account-manage .each .sub-msg p.captcha input{width: 118px;margin-right: 5px;}
.account-manage .each .sub-msg p.captcha .light-btn, .account-manage .each .sub-msg p.captcha .gray-btn{width:95px;font-size: 12px;}

.account-manage .selected{}
.account-manage .each .main-msg .light-btn em.selected{background: url(/static/img/arrow8-1.png) no-repeat right center;}

.record{}
.record .border-box{position: relative;padding:20px 30px 40px 30px;}
.record .border-box .cont{text-align: center;width:100%;height:125px;}
.record .border-box .cont span{display: inline-block;padding-top:5px;vertical-align: top;}
.record .border-box .cont .lf-area{border-right: 1px solid #f4eded;height:120px;margin-right: 70px;padding-left: 70px;padding-right:70px;}
.record .border-box .cont .rt-area{margin-right: 70px;}
.record .border-box .cont span p{font-size: 14px;line-height: 26px;margin-bottom: 10px;text-align: left;}
.record .border-box .cont span p em{font-size: 24px;color:#f27835;}
.record .border-box .cont span p a.light-btn, .record .border-box .cont span p a.gray-btn{display: inline-block;line-height: 30px;width:140px;}
.record .shadow-box{width:780px;margin-top:15px;padding:30px 45px;text-align: left;margin-bottom: 25px;}
.record .shadow-box p{font-size: 14px;}
.record .shadow-box p select{height:28px;line-height:28px;border:2px solid #919191;font-size: 14px;margin-left:15px;min-width:140px;}
.record .shadow-box p a.light-btn{line-height: 30px;display: inline-block;width:140px;margin-left:40px;}
.record .shadow-box table{width:100%;border-collapse: collapse;margin-top:25px;}
.record .shadow-box table tr td{font-size: 14px;line-height: 50px;}
.record .shadow-box table tbody tr td{color:#373737;}
