@charset "utf-8";
/* CSS Document */

.insurance{margin-bottom:2px;margin-right:1px;}
.insurance .cont{padding:50px 0;}
.insurance .cont .text{margin:0 auto;}
.insurance .cont .text span{display: inline-block;width:325px;text-align: left;margin:0 40px 80px 40px;vertical-align: top;}
.insurance .cont .text span p{line-height: 24px;}
.insurance .cont .text span p.phara{font-size: 14px;padding-left:30px;margin-top: 6px;}
.insurance .cont .text span p.ti1{padding-left:30px;background: url(/static/img/insurance0.png) no-repeat center left;}
.insurance .cont .text span p.ti2{padding-left:30px;background: url(/static/img/insurance1.png) no-repeat center left}
.insurance .cont .text span p.ti3{padding-left:30px;background: url(/static/img/insurance2.png) no-repeat center left}
.insurance .cont .text span p.ti4{padding-left:30px;background: url(/static/img/insurance3.png) no-repeat center left}
.insurance .cont .text span p.ti5{padding-left:30px;background: url(/static/img/insurance4.png) no-repeat center left}
.insurance .cont .text span p.ti6{padding-left:30px;background: url(/static/img/insurance5.png) no-repeat center left}
.insurance .cont .text span p.ti7{padding-left:30px;background: url(/static/img/insurance6.png) no-repeat center left}
.insurance .cont .text span p.ti8{padding-left:30px;background: url(/static/img/insurance7.png) no-repeat center left}

.contact{margin-bottom:2px;margin-right:1px;}
.contact .cont{padding:30px 0;text-align: left;}
.contact .cont p{font-size: 12px;margin-bottom: 15px;}
.contact .cont p.ti{font-size: 14px;}
.contact .cont .company{border-bottom: 1px solid #efefef;padding:0 25px;}
.contact .cont .others{padding:0 25px;}
.contact .cont .others p{padding-left: 20px;}
.contact .cont .others p.ti{background: url(/static/img/orange-dot.png) no-repeat left center;margin-top: 20px;}


.partner .shadow-box{padding:50px 0;margin-bottom: 20px;margin-right: 1px;}
.partner .shadow-box span{display:inline-block;}
.partner .shadow-box img{margin-right: 45px;width:164px;}
.partner .shadow-box span.cont-area{width:530px;text-align: left;vertical-align: middle;}
.partner .shadow-box span.cont-area h5{font-size: 16px;line-height: 30px;}
.partner .shadow-box span.cont-area p{font-size: 14px;line-height: 25px;}

.introduce{margin-bottom:2px;margin-right:1px;padding-bottom:15px;}
.introduce .each{text-align: left;padding:0 40px;margin:45px 0;}
.introduce .each h4.col-ti .ti-cont{font-size: 16px;}
.introduce .each p{font-size: 14px;line-height: 30px;margin-bottom: 5px;padding-left: 25px;}
.introduce .each p.p-indent em{display: inline-block;vertical-align: top;width:725px;}
.introduce .each p.name{font-family:'\5FAE\x8F6F\6B63\9ED1\4F53';font-weight: 700}
.introduce .our-feature span{display:inline-block;vertical-align: top;}
.introduce .our-feature span.our-feature1, .introduce .our-feature span.our-feature3, .introduce .our-feature span.our-feature5{width:270px;margin:10px 35px 10px 25px;padding-left: 77px;}
.introduce .our-feature span.our-feature2, .introduce .our-feature span.our-feature4{width:270px;margin:10px 0 10px 45px;padding-left: 60px;}
.introduce .our-feature span.our-feature1{background: url(/static/img/introduce/feature1.png) no-repeat left top;}
.introduce .our-feature span.our-feature2{background: url(/static/img/introduce/feature2.png) no-repeat left top;}
.introduce .our-feature span.our-feature3{background: url(/static/img/introduce/feature3.png) no-repeat left top;}
.introduce .our-feature span.our-feature4{background: url(/static/img/introduce/feature4.png) no-repeat left top;}
.introduce .our-feature span.our-feature5{background: url(/static/img/introduce/feature5.png) no-repeat left top;}
.introduce .our-feature span p{line-height: 26px;padding-left: 0}
.introduce .our-feature span p.ti{font-size: 16px;line-height: 16px;margin-bottom: 10px;}

.media .shadow-box{padding:25px;position:relative;text-align: left;margin-bottom: 15px;}
.media .shadow-box img{margin-right: 25px;vertical-align: top;margin-top: 15px;}
.media .shadow-box .text{display: inline-block;width:520px;}
.media .shadow-box .text h4 a{font-size:16px;text-decoration: underline;}
.media .shadow-box .text p{font-size: 12px;line-height: 25px;}
.media .shadow-box .text p.sub-ti span{color:#b0adad;font-size: 12px;margin-right: 50px;}
.media .shadow-box span.time{position:absolute;top：20px;right:20px;font-size: 12px;}
.media .light-btn{width:100%;line-height: 32px;display: inline-block;}