@charset "utf-8";
/* CSS Document */
.brief{width:870px;background: #fff;}
.brief .top{background: #f27835;width:100%;overflow: hidden;}
.brief .top span{display: inline-block;}
.brief .top .text-area{width:155px;vertical-align: top;margin:36px 0;}
.brief .top .text-area p{color:#fff;}
.brief .top .text-area p.num{font-size:24px;margin:10px 0;}
.brief .top .text-area p.subti{font-size:12px;}
.brief .top .graph{vertical-align: bottom;}
.brief .top .graph img{}

.brief .bottom{padding:35px 25px;}
.brief .bottom .each-part1, .brief .bottom .each-part2{display: inline-block;vertical-align: middle;text-align: left;}
.brief .bottom .each-part2{margin-left: 35px;}
.brief .bottom .each-part1 p{font-size: 12px;text-align: left;line-height: 30px;}
.brief .bottom .each-part1 p img{vertical-align: middle;margin-right: 20px;}
.brief .bottom .each-part1 p span{color:#f27835;}

.brief .bottom .each-part2 .p-ti{font-size: 14px;margin-right: 5px;display: inline-block;width:60px;}
.brief .bottom .each-part2 .num{font-size: 24px;color:#f27835;}
.brief .bottom .each-part2 input{width:130px;}
.brief .bottom .each-part2 input.check{width:13px;}
.brief .bottom .each-part2 button{width: 86px;margin-left:5px;}
.brief .bottom .each-part2 .no-login input{width:216px;}
.brief .bottom .each-part2 .no-login button{width:165px;margin-top: 10px;margin-left: 35px;}
.brief .bottom .each-part2 .alert{margin-left: 5px;}
.brief .bottom .each-part2 .sub-text{font-size: 10px;}

.tab-col{margin: 20px 1px;}
.tab-col .tab{text-align: left;}
.tab-col .tab span{width: 106px;height: 37px;line-height: 37px;display: inline-block;text-align: center;background:#a6a6a6;color:#fff;cursor:pointer;}
.tab-col .tab span:hover{background: #f27835;}
.tab-col .tab span.selected{background: #fff;color:#373737;}

.tab-col .cont{display: none;text-align: left;padding:50px 70px;}
.tab-col .cont p em{color:#373737;}
.tab-col .hqb-feature .fea-each{width: 295px;display: inline-block;}
.tab-col .hqb-feature .fea-each p{font-size: 12px;padding: 20px 0;border-bottom: 1px solid #f4eded;line-height: 20px;}
.tab-col .hqb-feature .fea-each p em{color:#373737;}
.tab-col .hqb-feature .fea-each p span{display: inline-block;width: 230px;vertical-align: top;}
.tab-col .hqb-feature em.verti-line{background:#f4eded;display: inline-block;margin:50px 65px 0 65px;width:1px;height:300px;}

.tab-col .qa span{display: inline-block;width:225px;vertical-align: top;padding:0 67px;}
.tab-col .qa span p{font-size: 12px;line-height: 20px;margin-bottom:5px;}
.tab-col .qa span p.ti{font-size: 16px;line-height: 25px;color:#373737;}
.tab-col .qa em.cross-line{background:#f4eded;display: inline-block;margin:35px 25px;width:680px;height:1px;float:left;}