@charset "utf-8";
/* CSS Document */

/* 媒体区 */
.media-report{margin: 60px 0;}
.media-report ul{}
.media-report ul li{overflow: hidden;line-height: 74px;height: 74px;}
.media-report ul li span{font-size: 14px;}
.media-report ul li span.fr{border-bottom: 1px dashed #dedede;width:840px;height: 73px;}
.media-report ul li span.fr a:hover{text-decoration: none;color:#f27835;}
.media-report ul li .img-area{display: inline-block;line-height: 88px;background: #fff;}