@charset "utf-8";
/* CSS Document */
/* 新手指引 */
.newGuide{padding:65px;}
.newGuide p{font-size: 14px;text-align: left;margin-bottom: 60px;padding-left: 30px;}
.newGuide .feature{width:1075px;padding-left: 30px;}
.newGuide .feature .each-fea{margin-right: 65px;}
.newGuide .feature .each-fea span{margin:0;}
.newGuide .feature .each-fea h4{margin:15px 0;}
.newGuide .our-product{background: url(../img/our-product.jpg) no-repeat center center;width: 1010px;height:300px;position:relative;margin:55px 0;}
.newGuide .our-product a{color:#fff;display: inline-block;position: absolute;top: 70px;left:50%;margin-left: -55px;padding:7px;}
.newGuide .our-product a:hover{text-decoration: none;}
.newGuide .our-product a.pro1{top:255px;padding: 10px 30px;margin-left:-40px;}
.newGuide .our-product a.pro2{top: 110px;left: 255px;margin:0;padding: 10px 30px;}
.newGuide .our-product a.pro3{top: 110px;left: 670px;margin:0;padding: 10px 30px;}


.newGuide .invest-step{background: url(../img/invest-step.jpg) no-repeat center center;width: 1010px;height:135px;position:relative;margin:55px 0;}
.newGuide .invest-step a{color:#fff;display: inline-block;position: absolute;bottom:0;left: 46px;padding: 7px 42px;background: #f27835}
.newGuide .invest-step a:hover{text-decoration: none;background: #f06a21}
