
<h5>您好，{{loginName}}</h5>
<div class="fund-img">
	<span>
		<p>资产总额</p>
		<h4>￥{{totalAmount}}</h4>
	</span>
	<span>
		<p>账户余额</p>
		<h4>￥{{toInvestAmount}}</h4>
	</span>
	<span>
		<p>累计收益</p>
		<h4>￥{{profitAmount}}</h4>
	</span>
</div>