<table>
	<thead>
		<tr>
			<td class="left1">产品名称</td>
			<td>起息时间</td>
			<td>赎回时间</td>
			<td>投资期限</td>
			<td>赎回金额</td>
			<td>总收益</td>
			<td class="right1">状态</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>活期宝</td>
			<td>2015年4月15日<br>13：45：22</td>
			<td>2015年7月15日<br>00：00：00</td>
			<td>90天</td>
			<td>￥1000000</td>
			<td>￥70</td>
			<td>处理中</td>
		</tr>
	</tbody>
</table>